root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_standard_package-name = enabled

[driver-fabric/src/**/kotlin/com/minekube/craftless/driver/fabric/v1_21_6/**/*.kt]
ktlint_standard_package-name = disabled
